.frame {
  width: 100%;
 position: relative;
 

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* .explosion {
  display: nonne;
} */
/* @media (max-width: 700px) {
  .frame {
    max-width: 650px;
    max-height: 70vh;
  }
} */
