.balanceChange {
    color: rgb(55, 145, 10);
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), transform 350ms ease;
    z-index: 10;
  }
  
  .up {
    color: rgb(55, 145, 10);
    
    transform: translateY(-20px);
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s, transform 550ms cubic-bezier(0.47, 0, 0.745, 0.715) 200ms;
  }
  
  .down {
    color: rgba(10, 10, 130, 0.959);
   
    transform: translateY(20px); 
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715);

  }
  