.mashineHide {
  /* outline: 2px solid blue; */
  animation: squashJump 2s ease forwards;
  transform-origin: bottom center;
  /* transform: perspective(200px) rotateX(-5deg); */
}

.mashineShow {
  /* outline: 2px solid green; */
  animation: sqwishFall  1.2s ease forwards;
  transform-origin: bottom center;
}

@keyframes squashJump {
  0% {
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
  10% {
    transform: scale(0.9, 1.15) translateY(0);
  }
  35% {
    transform: scale(1.5, 0.6) translateY(1%);
  }
  37% {
    transform: scale(1.55, 0.5) translateY(2%);
  }
  40% {
    transform: scale(1, 1);
  }

  45% {
    transform: scale(0.75, 1.4) translateY(-60%) perspective(200px)
      rotateX(-0deg);
  }
  55% {
    transform: scale(1, 1.05) translateY(-63%);
  }
  57% {
    transform: scale(1.1, 0.95) translateY(-65%);
  }
  65% {
    transform: scale(0.8, 1.2) translateY(130%) perspective(200px)
      rotateX(-5deg);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1) translateY(200%) rotateX(-0deg);
    opacity: 0;
  }
}

@keyframes sqwishFall {
  0% {
    transform: scale(0.4, 1.6) translateY(-220%);
    opacity: 0;
  }
  10% {
    transform: scale(0.4, 1.6) translateY(-180%);
    opacity: 0;
  }
  22% {
    transform: scale(0.7, 1.3) translateY(-150%);
    opacity: 0.5;
  }

  30% {
    transform: scale(0.8, 1.25) translateY(0);
    opacity: 1;
  }
  
  65% {
    transform: scale(1.5, 0.6) translateY(1%);
  }
  67% {
    transform: scale(1.55, 0.5) translateY(2%);
  }
  77% {
    transform: scale(0.95, 1.08) translateY(0);
  }
  86% {
    transform: scale(1.12, 0.97) translateY(0);
  }
  87% {
    transform: scale(0.99, 1.01) translateY(0);
  }
  88% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.shadow {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateY(-50%) translateX(-58%) scale(0%);
  border-radius: 50%;
  width: 50%;
  height: 5%;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}
.shadow::after {
  content: "";
  display: block;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  /* border-radius:  0  0 50% 50% ; */
  height: 55%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.shadowGrow {
  /* transform: translateY(-50%) translateX(-58%) scale(110%); */
  animation: shadowDesapier 2s ease forwards;
}
.shadowAppearance {
  /* transform: translateY(-50%) translateX(-58%) scale(110%); */
  animation: shadowAppearance  1.2s ease forwards;
}

@keyframes shadowDesapier {
  0% {
    transform: translateY(-50%) translateX(-58%) scale(80%);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }

  38% {
    transform: translateY(-50%) translateX(-58%) scale(100%);
    opacity: 0.8;
  }

  45% {
    transform: translateY(-50%) translateX(-58%) scale(20%);
    opacity: 0.6;
  }

  55% {
    transform: translateY(-50%) translateX(-58%) scale(15%);
    opacity: 0.5;
  }

  60% {
    transform: translateY(-50%) translateX(-58%) scale(160%);
    opacity: 1;
  }
  65% {
    transform: translateY(-50%) translateX(-58%) scale(120%);
    opacity: 1;
  }
  80% {
    transform: translateY(-50%) translateX(-58%) scale(10%);
  }
  100% {
    transform: translateY(-50%) translateX(-58%) scale(0%);
    opacity: 0;
  }
}

@keyframes shadowAppearance {
  0% {
    transform: translateY(-50%) translateX(-58%) scale(2%);
    opacity: 0;
  }

  12% {
    transform: translateY(-50%) translateX(-58%) scale(7%);
    opacity: 0.2;
  }
  

  35% {
    transform: translateY(-50%) translateX(-58%) scale(120%);
    opacity: 0.5;
  }
  45% {
    transform: translateY(-50%) translateX(-58%) scale(200%);
    opacity: 0.6;
  }
  65% {
    transform: translateY(-50%) translateX(-58%) scale(300%);
    opacity: 0.1;
  }
  80% {
    transform: translateY(-50%) translateX(-58%) scale(400%);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%) translateX(-58%) scale(0%);
    opacity: 0;
  }
}
