.frame {
  width: 100%;
 position: relative;
  /* height: 90vh; */

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* @media (max-width: 700px) {
  .frame {
    max-width: 650px;
    max-height: 70vh;
  }
} */
