:root {
  --color: #6294a4f0;
  --colorF: #3a393b;
}
.mashineBody {
  /* border: 2px solid #af37ea; */
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0;
  /* height: 70%; */
  position: relative;

  /* /* height: 80%; */
  min-height: 40%;
  width: 100%;
  position: relative;
  transition: all 0.4s ease;
  /* flex: 15; */
}

.out {
  flex: 7;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  max-width: 700px;
  min-width: 220px;
  position: relative;
  /* min-height: 50%;
  max-height: 80%; */
}
.mashineHead {
  box-sizing: border-box;
  /* background-color: var(--color); */
  width: 110%;
  /* flex: 2; */
  transform: translateY(10%);
  /* border: 2px solid #0c22e7; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  /* min-height: 20%; */
  max-height: 20%;
  position: relative;
  z-index: 3;
  /* height: 5vh; */
}
.headLow {
  min-height: 40px;
  height: 40%;
  /* padding-top: 5%; */
  width: 100%;
  background-image: url("../../../../source/slotHead2.png");
  background-size: 100% 100%;
}
.headMid {
  height: 60%;
  /* padding-top: 5%; */
  width: 80%;
  /* height: 50%; */
  min-height: 70px;
  background-size: 100% 100%;
  background-image: url("../../../../source/topHead.png");
}
.headUp {
  /* height: 10%; */
  padding-top: 10%;
  width: 10%;
  background-size: 100% 100%;
  background-image: url("../../../../source/topHeadSlot.png");
  position: relative;
}
.headUp::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3a393b;
}

.dramFrame {
  width: 90%;
  height: 100%;
  max-width: 95%;

  min-width: 160px;
  /* min-height: 40%; */
  /* overflow: hidden; */
  /* height: min-content; */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mashine {
  /* overflow: hidden; */

  display: flex;
  width: 95%;
  max-width: 780px;
  min-width: 260px;
  min-height: 260px;
  max-width: 600px;
  /* height: 95%; */

  align-items: end;
  justify-content: flex-start;
  flex-direction: row;
}
.mashineContainer {
  align-items: flex-end;
  padding: 10% 5% 0 5%;
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 95%;
  z-index: 5;
  /*  */
  /* height: 100%; */
}

/*  */

@media (max-width: 700px) {
  .dramFrame {
    height: initial;
    /* min-height: 100%; */
  }
  .mashineHead {
    transform: translateY(7%);
  }
  .mashineBody {
    /* flex: 9; */
    padding: 5% 0;
  }
  .mashineHead {
    /* flex: 8; */
    max-height: none;
  }
  .out {
    flex: 9;
  }
}

.working {
  transform-origin: bottom;
  animation: bounceHeight 0.2s ease-in-out infinite;
}

@keyframes bounceHeight {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.01);
  }
  75% {
    transform: scaleY(0.99);
  }
}
